<!DOCTYPE html>
<html lang="en">
<head>
    <!-- https://fontawesome.com/icons -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Club</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel = "shortcut icon" type = "image/x-icon" href = "images/favicon.svg">
    <script src="lessons.js"></script>
</head>
<body>
    <!-- Making a Pet Depot -->
    
    <div id="app">
        <header>
            <a href="#" class="logo"><i class="fas fa-school" style="font-size: 25px;background: -webkit-linear-gradient(#f3b3c6, #f7e0a2);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">&nbsp ASC</i></a>
            <nav class="navbar">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#courses">Courses</a></li>
                </ul>
            </nav>
            <button class="checkout" v-on:click="showCheckout" v-if="cartItemCount >= 1">
                <span class="fas fa-cart-plus">&nbsp &nbsp Checkout</span>
                <span>{{cartItemCount}}</span>
            </button>
            <button class="checkout" disabled='disabled' v-else>
                <span class="fas fa-cart-plus">&nbsp &nbsp Checkout</span>
            </button>
        </header>
        <div v-if="showLessons">
            <section class="home" id="home">
                <h1>After School Club</h1>
                <p>Engage in artistic, creative, physical and scientific activities</p>

            </section>
            <section class="about" id="about">
                <div class="about_image">
                    <img src="images/about.png" alt="Girl Studying">
                </div>
                <div class="content">
                    <h3>Why Choose Us?</h3>
                    <p>At this After School Club, we believe in a holistic approach to learning and encourage our students to 
                        broaden their horizons and explore their talents by participating in one of our after-school clubs. Clubs generally meet 
                        once a week and include a wide range of opportunities for activities including, but not limited 
                        to, photography, drama, sports, music, and art.</p>
                    <p>Several studies have shown that extracurricular activities for children 
                        improve academic performance, including study habits and raw grades. 
                        Children's behavior is also improved, reducing the occurrence of negative social issues at school</p>
                </div>
            </section>
            <section class="course" id="courses">
                <h1>Club Activities to Choose From</h1> <br><br>
                <select v-model="sorters.type" class="dropdown">
                    <option disabled value="Sort">Sort</option>
                    <option v-for="(sort, key) in sorts" v-bind:value="sort">{{key}}</option>
                </select>  
                
                    <span class="radios">
                        <input v-if = "sorters.type == 'Sort'" disabled = "disabled" type="radio" id="asc" value="ascending" v-model="sorters.order" >
                        <input v-else type="radio" id="asc" value="ascending" v-model="sorters.order" >
                        <label for="asc" class="radioButton">Ascending</label>
                    </span>
                    
                    <span class="radios">
                        <input v-if = "sorters.type == 'Sort'" disabled = "disabled" type="radio" id="dec" value="descending" v-model="sorters.order">
                        <input v-else type="radio" id="dec" value="descending" v-model="sorters.order">
                        <label for="dec" class="radioButton">Descending</label>
                    </span>
                    <span class="searchBox">
                        <i class="fas fa-search" style="height: 100px; width: 20px;"></i> &nbsp
                        <input type="text" v-model="sorters.search"  placeholder="search something..."> <p></p>
                    </span>
                    
                
                <div class="main" v-if = "sorters.type == 'Sort' && sorters.search == ''">
                    <div class="lesson_cards" id="lesson.id" v-for="lesson in lessons">
                        <div class="image">
                            <img v-bind:src="lesson.image" alt="Lesson Image">
                        </div>
                        <div class="title"><p>{{lesson.subject}}</p></div>
                        <div class="location">Location: {{lesson.location}}</div>
                        <div class="spaces">Spaces Left: {{lesson.spaces}}</div>
                        <div class="price">{{lesson.price}} £ </div>
                        <div class="rating">
                            <span v-for="n in lesson.rating"><i class="fas fa-star"></i></span>
                            <span v-for= "n in 5-lesson.rating"><i class="far fa-star"></i></span>
                        </div>
                            <button class="addToCart" v-on:click = "addLessonToCart(lesson)" v-if="canAddToCart(lesson)">Add to Cart</button>
                            <button class="addToCart" disabled = "disabled" v-else>Add to Cart</button>
                            <span class="button_information" v-if = "lesson.spaces == 0">All Out!</span>
                            <span class="button_information" v-if = "lesson.spaces < 5 && lesson.spaces > 0">Only {{lesson.spaces}} left!</span>
                        
                    </div>
                </div>
                <div class="main" v-else-if = "sorters.type != 'Sort' && sorters.search == ''">
                    <div class="lesson_cards" id="lesson.id" v-for="lesson in sortLessons(lessons)">
                        <div class="image">
                            <img v-bind:src="lesson.image" alt="Lesson Image">
                        </div>
                        <div class="title"><p>{{lesson.subject}}</p></div>
                        <div class="location">Location: {{lesson.location}}</div>
                        <div class="spaces">Spaces Left: {{lesson.spaces}}</div>
                        <div class="price">{{lesson.price}} £ </div>
                        <div class="rating">
                            <span v-for="n in lesson.rating"><i class="fas fa-star"></i></span>
                            <span v-for= "n in 5-lesson.rating"><i class="far fa-star"></i></span>
                        </div>
                            <button class="addToCart" v-on:click = "addLessonToCart(lesson)" v-if="canAddToCart(lesson)">Add to Cart</button>
                            <button class="addToCart" disabled = "disabled" v-else>Add to Cart</button>
                            <span class="button_information" v-if = "lesson.spaces == 0">All Out!</span>
                        
                    </div>
                </div>
                <div class="main" v-else> <p>{{sorters.search}}</p>
                    <div class="lesson_cards" id="lesson.id" v-for="lesson in searchedLessons(lessons)">
                        <div class="image">
                            <img v-bind:src="lesson.image" alt="Lesson Image">
                        </div>
                        <div class="title"><p>{{lesson.subject}}</p></div>
                        <div class="location">Location: {{lesson.location}}</div>
                        <div class="spaces">Spaces Left: {{lesson.spaces}}</div>
                        <div class="price">{{lesson.price}} £ </div>
                        <div class="rating">
                            <span v-for="n in lesson.rating"><i class="fas fa-star"></i></span>
                            <span v-for= "n in 5-lesson.rating"><i class="far fa-star"></i></span>
                        </div>
                            <button class="addToCart" v-on:click = "addLessonToCart(lesson)" v-if="canAddToCart(lesson)">Add to Cart</button>
                            <button class="addToCart" disabled = "disabled" v-else>Add to Cart</button>
                            <span class="button_information" v-if = "lesson.spaces == 0">All Out!</span>
                        
                    </div>
                </div>
            </section>
    </div>
    <div class="checkoutPage" v-else>
        <h3>CheckOut!</h3>
        <div class="main" v-if = "this.cart.length > 0" >
            <div class="lesson_cards" id="lesson.id" v-for="lesson in this.cart" >
                <div class="image">
                    <img v-bind:src="lesson.image" alt="Lesson Image">
                </div>
                <div class="title"><p>{{lesson.subject}}</p></div>
                <div class="location">Location: {{lesson.location}}</div>
                <div class="price">{{lesson.price}} £ </div>
                <div class="rating">
                    <span v-for="n in lesson.rating"><i class="fas fa-star"></i></span>
                    <span v-for= "n in 5-lesson.rating"><i class="far fa-star"></i></span>
                </div>
                    <button class="removeButton" v-on:click = "remove(lesson)" >
                        <span  class="fas fa-trash-alt">&nbsp Remove</span> 
                    </button>
            </div>
        </div>
        <div class="main" v-else>
            <button v-on:click = "reloadPage()" class = "goBackBtn"><span  class="fas fa-arrow-left">&nbsp Back To Products</span>
                </button>
        </div>
        
        <div class="checkoutForm">
            <strong>Name: </strong>
            <span class="checkoutInput">
                <input type="text" v-model="lessonOrder.name"  placeholder="Enter Name..." v-on:keypress = "isLetter($event)">
            </span>
            
            <strong>Phone: </strong>
            <span class="checkoutInput">
                <input type="text" v-model="lessonOrder.phone" placeholder="0123" v-on:keypress = "isNumber($event)"> <p></p>
            </span>
            
            <button v-if="lessonOrder.name == '' || lessonOrder.phone == ''" disabled = "disabled">Checkout</button>
            <button v-else v-on:click = "CheckoutLessons()">Checkout</button>
            <p style="font-size: 1.5rem; color: red; margin-top: 0; padding-bottom: 70px; padding-left: 10%;">{{lessonOrder.errorMessage}}</p>
            
        </div>
    </div>
    </div>
    
    <script>
        var schoolClub = new Vue({
            el: "#app",
            data: {
                sitename: "After School Club",
                lessons: lessons,
                sorters: {
                    type: "Sort",
                    order: "ascending",
                    search: ""
                },
                sorts: {
                    price : "Price",
                    location : "Location",
                    subject : "Subject"
                },
                lessonOrder: {
                    name: "",
                    phone: "",
                    errorMessage: ""
                },
                showLessons: true,
                cart: []
            },
            methods:{
                showCheckout(){
                    this.showLessons = this.showLessons ? false : true;
                },
                addLessonToCart(lesson){
                    lesson.spaces -= 1;
                    this.cart.push(lesson);
                },
                canAddToCart(lesson){
                    return lesson.spaces > 0;
                },
                cartCount(id){
                    let count = 0;
                    for(let i = 0; i < this.cart.length; i++){
                        if(this.cart[i].id === id)
                            count++;  
                    }
                    return count;
                },
                remove(lesson){
                    let count = 0;
                    lesson.spaces += 1;
                    for(let i = 0; i < this.cart.length; i++){
                        if(count < 1){
                            if(this.cart[i].id === lesson.id){
                                this.cart.splice(i, 1);
                            }
                            count++;
                        }
                    }
                },
                reloadPage(){
                    location.reload();
                },
                sortLessons(lesson){
                    if(this.sorters.type == "Price"){
                        console.log("Price");
                        if(this.sorters.order == "descending"){
                            function compare(a,b){
                                if(a.price > b.price){
                                    return -1;
                                }
                                if(a.price < b.price){
                                    return 1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                        else{
                            function compare(a,b){
                                if(a.price > b.price){
                                    return 1;
                                }
                                if(a.price < b.price){
                                    return -1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                    }
                    else if(this.sorters.type == "Location"){
                        console.log("Loaction");
                        if(this.sorters.order == "descending"){
                            function compare(a,b){
                                if(a.location > b.location){
                                    return -1;
                                }
                                if(a.location < b.location){
                                    return 1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                        else{
                            function compare(a,b){
                                if(a.location > b.location){
                                    return 1;
                                }
                                if(a.location < b.location){
                                    return -1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                    }
                    else if(this.sorters.type == "Subject"){
                        console.log("Subject");
                        if(this.sorters.order == "descending"){
                            function compare(a,b){
                                if(a.subject > b.subject){
                                    return -1;
                                }
                                if(a.subject < b.subject){
                                    return 1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                        else{
                            function compare(a,b){
                                if(a.subject > b.subject){
                                    return 1;
                                }
                                if(a.subject < b.subject){
                                    return -1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                    }
                },
                searchedLessons(lessonArray){
                    console.log(lessonArray.length)
                    var returnlessons = []
                    if(this.sorters.search != ''){
                        for(let i = 0; i < lessonArray.length; i++){
                            var subjectL = lessonArray[i].subject.toLowerCase();
                            var locationL = lessonArray[i].location.toLowerCase();
                            var searched = this.sorters.search.toLowerCase();
                            if(subjectL.includes(searched) || locationL.includes(searched)){
                                returnlessons.push(lessonArray[i]);
                            }
                        }
                        return returnlessons;
                    }
                },
                isLetter(e){
                    let char = String.fromCharCode(e.keyCode); // Get the character
                    if(/^[A-Za-z]+$/.test(char)){
                        this.lessonOrder.errorMessage = "";
                        return true;
                    }  // Match with regex 
                    else{
                        this.lessonOrder.errorMessage = "Please enter only characters";
                    } // If not match, don't add to input text
                },
                isNumber(e){
                    if(e.charCode >= 48 && e.charCode <= 57 ){
                        this.lessonOrder.errorMessage = "";
                        return true;
                    }
                    else{
                        this.lessonOrder.errorMessage = "Please enter only numbers";
                    }
                },
                CheckoutLessons(){
                    if(this.lessonOrder.errorMessage == ""){
                        alert("Successfully placed order!");
                    }
                    else{
                        alert("Please enter the correct values.");
                    }
                    
                }
            },
            computed: {
                cartItemCount(){
                    return this.cart.length || '';
                }
            }
        })
    </script>


    
</body>
</html>